.colors {
  display: flex;
  width: 600px;
}
.color-item {
  width: 100px;
  height: 100px;
  border: 1px solid #d5d5d5;
}
.color-box {
  width: 300px;
  height: 300px;
  color: #fff;
  background-color: blue;
}
